@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
  --copy-blue: #3B3B3B;
  --primary-blue: #A5B3FF;
  --secondary-blue: #E5EEFF;

  --copy-yellow: #6C4801;
  --primary-yellow: #FFC044;
  --secondary-yellow: #FFF8E4;
  --secondary-orange: #FFF8E4;

  --white: #FFFFFF;

  --outer-radius: 1rem;
  --inner-radius: 0.5;

  --large-font-size: 2rem;
  --medium-font-size: 1.125rem;
  --small-font-size: 1rem;

  --hover-transition: all 0.3s ease-in-out;

  --shadow: 0px 4px 16px rgba(67, 81, 80, 0.1);
}

.primary-yellow {
  color: var(--copy-yellow);
  background-color: var(--primary-yellow);
}

.primary-yellow:hover {
  color: var(--secondary-yellow);
  background-color: var(--copy-yellow);
  transition: var(--hover-transition);
}

.navbar{
  background-color: var(--white);
  padding: 2rem 100px;
  position: fixed;
  z-index: 10;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu{
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}

.menu-item{
  color: var(--copy-blue);
  font-size: var(--small-font-size);
  text-decoration: none;
}

.menu-search{
  width: max-content;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}

button{
  border: none;
  outline: none;
  padding: 0.90rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.menu-button{
  color: var(--copy-blue);
  font-size: var(--small-font-size);
  text-decoration: none;
  background-color:var(--secondary-yellow);
  color: var(--copy-orange);
  background-color: var(--primary-yellow);
}

.list{
  width: 100%;
  padding-top: 150px;
  justify-content: space-between;
}

.grid {
  margin: 0px 100px;
}

.logo-image-container[mode="horizontal"]{
  width: 110px;
  flex-shrink: 0;
  height: 100%;
}


.property-tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}

.property-tile {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.property-tile p {
  margin: 0;
}

.property-tile p:first-child {
  font-weight: bold;
  font-size: 16px;
}

.property-tile p:not(:first-child) {
  margin-top: 8px;
}
